:root.theme-light {
  --bg-image: url(../images/cover-image-light.png); 
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --main-card-title-color: #353430;
  --main-section-title-color: #353430;
  --main-text-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png); 
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --main-card-title-color: #353430;
    --main-section-title-color: #353430;
    --main-text-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --rec-display: none;
  }
}

.theme-light .rec {
  display: none;
}